@{
    ViewData["Title"] = "Faq";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<body>
    @Html.Partial("_Login")
    <link href="~/css/faq.css" rel="stylesheet" />

    <img src="~/assets/img/faq-banner.png" class="responsive_img" alt="" style="width:100%">
    <div class="container">
        <p class="faq1">FAQs</p>
        <div class="imgcont">
            <div class="line">
                <figure><img src="~/assets/img/star.png" alt=""></figure>
            </div>
        </div>


        <section class="main-cont">
            <div class="sec2-cont1">
                <p>Whether you are Customer or Service provider,<br> We have tried our best to solve all your queries and questions.</p>
            </div>
            <div class="sec2-cont2">
                <div class="btn_cont">
                    <button class="selected">for customer</button>
                    <button class="" id="btn2">for service provider</button>
                </div>
            </div>
            <div class="">
                <div class="accordion">
                    <div class="collapse__container">
                        <div class="main_box" id="hd1">
                            <div class="content_box">
                                <div class="crd1">
                                    <button class="btn btn-link" id="bttn" type="button" data-toggle="collapse" data-target="#col1" onclick="active()">
                                        <img src="~/assets/img/right-arrow.png" class="imgh" alt="">
                                    </button>
                                </div>
                                <div class="crd2">
                                    <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore alimed?.</p>
                                    <div id="col1" class="collapse">
                                        <div class="txtsize">
                                            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse__container">
                        <div class="main_box" id="hd1">
                            <div class="content_box">
                                <div class="crd1">
                                    <button class="btn btn-link" id="bttn1" type="button" data-toggle="collapse" data-target="#col2" onclick="active1()">
                                        <img src="~/assets/img/right-arrow.png" class="imgh" alt="">
                                    </button>
                                </div>
                                <div class="crd2">
                                    <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore alimed?.</p>
                                    <div id="col2" class="collapse">
                                        <div class="txtsize">
                                            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse__container">
                        <div class="main_box" id="hd1">
                            <div class="content_box">
                                <div class="crd1">
                                    <button class="btn btn-link" id="bttn2" type="button" data-toggle="collapse" data-target="#col3" onclick="active2()">
                                        <img src="~/assets/img/right-arrow.png" class="imgh" alt="">
                                    </button>
                                </div>
                                <div class="crd2">
                                    <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore alimed?.</p>
                                    <div id="col3" class="collapse">
                                        <div class="txtsize">
                                            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse__container">
                        <div class="main_box" id="hd1">
                            <div class="content_box">
                                <div class="crd1">
                                    <button class="btn btn-link" id="bttn3" type="button" data-toggle="collapse" data-target="#col4" onclick="active3()">
                                        <img src="~/assets/img/right-arrow.png" class="imgh" alt="">
                                    </button>
                                </div>
                                <div class="crd2">
                                    <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore alimed?.</p>
                                    <div id="col4" class="collapse">
                                        <div class="txtsize">
                                            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse__container">
                        <div class="main_box" id="hd1">
                            <div class="content_box">
                                <div class="crd1">
                                    <button class="btn btn-link" id="bttn4" type="button" data-toggle="collapse" data-target="#col5" onclick="active4()">
                                        <img src="~/assets/img/right-arrow.png" class="imgh" alt="">
                                    </button>
                                </div>
                                <div class="crd2">
                                    <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore alimed?.</p>
                                    <div id="col5" class="collapse">
                                        <div class="txtsize">
                                            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse__container">
                        <div class="main_box" id="hd1">
                            <div class="content_box">
                                <div class="crd1">
                                    <button class="btn btn-link" id="bttn5" type="button" data-toggle="collapse" data-target="#col6" onclick="active5()">
                                        <img src="~/assets/img/right-arrow.png" class="imgh" alt="">
                                    </button>
                                </div>
                                <div class="crd2">
                                    <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore alimed?.</p>
                                    <div id="col6" class="collapse">
                                        <div class="txtsize">
                                            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse__container">
                        <div class="main_box" id="hd1">
                            <div class="content_box">
                                <div class="crd1">
                                    <button class="btn btn-link" id="bttn6" type="button" data-toggle="collapse" data-target="#col7" onclick="active6()">
                                        <img src="~/assets/img/right-arrow.png" class="imgh" alt="">
                                    </button>
                                </div>
                                <div class="crd2">
                                    <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore alimed?.</p>
                                    <div id="col7" class="collapse">
                                        <div class="txtsize">
                                            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse__container">
                        <div class="main_box" id="hd1">
                            <div class="content_box">
                                <div class="crd1">
                                    <button class="btn btn-link" id="bttn7" type="button" data-toggle="collapse" data-target="#col8" onclick="active7()">
                                        <img src="~/assets/img/right-arrow.png" class="imgh" alt="">
                                    </button>
                                </div>
                                <div class="crd2">
                                    <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore alimed?.</p>
                                    <div id="col8" class="collapse">
                                        <div class="txtsize">
                                            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse__container">
                        <div class="main_box" id="hd1">
                            <div class="content_box">
                                <div class="crd1">
                                    <button class="btn btn-link" id="bttn8" type="button" data-toggle="collapse" data-target="#col9" onclick="active8()">
                                        <img src="~/assets/img/right-arrow.png" class="imgh" alt="">
                                    </button>
                                </div>
                                <div class="crd2">
                                    <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore alimed?.</p>
                                    <div id="col9" class="collapse">
                                        <div class="txtsize">
                                            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse__container">
                        <div class="main_box" id="hd1">
                            <div class="content_box">
                                <div class="crd1">
                                    <button class="btn btn-link" id="bttn9" type="button" data-toggle="collapse" data-target="#col10" onclick="active9()">
                                        <img src="~/assets/img/right-arrow.png" alt="">
                                    </button>
                                </div>
                                <div class="crd2">
                                    <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore alimed?.</p>
                                    <div id="col10" class="collapse">
                                        <div class="txtsize">
                                            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>
    </section>



    <div class="container-fluid">
        <div class="get_new_perent">
            <div class="get_new_child1">
                <img src="~/assets/img/right-arrow-grey.png" alt="">
            </div>
            <div class="get_new_child2">
                <div class="sellr_main_div">
                    <div style="text-align: center;">
                        <p class="letter_text">GET OUR NEWSLETTER</p>
                        <input type="email" placeholder="Your Email" class="for_email">
                        <input type="submit" class="for_submit">
                    </div>
                </div>
            </div>
            <div class="get_new_child3">
                <img src="~/assets/img/layer-598.png" alt="" class="time_img">
            </div>
        </div>
    </div>

</body>

<script>
    function active() {

        var a = document.getElementById("bttn");
        a.classList.toggle('rotate_right');
        
    }
    function active1() {

        var a = document.getElementById("bttn1");
        a.classList.toggle('rotate_right');

    }
    function active2() {

        var a = document.getElementById("bttn2");
        a.classList.toggle('rotate_right');

    }
    function active3() {

        var a = document.getElementById("bttn3");
        a.classList.toggle('rotate_right');

    }
    function active4() {

        var a = document.getElementById("bttn4");
        a.classList.toggle('rotate_right');

    }
    function active5() {

        var a = document.getElementById("bttn5");
        a.classList.toggle('rotate_right');

    }
    function active6() {

        var a = document.getElementById("bttn6");
        a.classList.toggle('rotate_right');

    }
    function active7() {

        var a = document.getElementById("bttn7");
        a.classList.toggle('rotate_right');

    }
    function active8() {

        var a = document.getElementById("bttn8");
        a.classList.toggle('rotate_right');

    }
    function active9() {

        var a = document.getElementById("bttn9");
        a.classList.toggle('rotate_right');

    }
</script>