@{
    ViewData["Title"] = "Price and Services";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}





<body>
    @Html.Partial("_Login")
    <link href="~/css/Prices.css" rel="stylesheet" />



    <img src="~/assets/img/group-18.png" class="responsive_img" alt="" style="width:100%">

    <div class="container div1">
        <p class="faq1">Prices</p>
        <div class="imgcont">
            <div class="line">
                <figure><img src="~/assets/img/star.png" alt=""></figure>
            </div>
            <br>
        </div>
        <div class="div3">
            <div class="div2">
                <h2>One Time</h2>
            </div>

            <h2 class="head2">€ 20<span class="head3">/hr</span></h2>

            <div class="div5">
                <div class="div4">
                    <img src="~/assets/img/forma-1_5.png" alt="">
                    <p>Lower prices</p>
                </div>
                <div class="div4">
                    <img src="~/assets/img/forma-1_5.png" alt="">
                    <p>Easy online & secure payment</p>
                </div>
                <div class="div4">
                    <img src="~/assets/img/forma-1_5.png" alt="">
                    <p>Easy amendment</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr">

    <section class="extra_services">
        <p class="faq1">Extra Services</p>
        <div class="imgcont">
            <div class="line">
                <figure><img src="~/assets/img/star.png" alt=""></figure>
            </div>
            <br>
        </div>
        <div class="container-fluid">
            <div class="services_container">
                <div class="services">
                    <div class="services_img"><img src="~/assets/img/3.png"></div>
                    <div class="services_text">
                        <p>Inside cabinets</p>
                        <p>30 minutes</p>
                    </div>
                </div>
                <div class="services">
                    <div class="services_img"><img src="~/assets/img/5.png"></div>
                    <div class="services_text">
                        <p>Inside fridge</p>
                        <p>30 minutes</p>
                    </div>
                </div>
                <div class="services">
                    <div class="services_img"><img src="~/assets/img/4.png"></div>
                    <div class="services_text">
                        <p>Inside oven</p>
                        <p>30 minutes</p>
                    </div>
                </div>
                <div class="services">
                    <div class="services_img"><img src="~/assets/img/2.png"></div>
                    <div class="services_text">
                        <p>Laundry wash & dry</p>
                        <p>30 minutes</p>
                    </div>
                </div>
                <div class="services">
                    <div class="services_img"><img src="~/assets/img/1.png"></div>
                    <div class="services_text">
                        <p>Interior windows</p>
                        <p>30 minutes</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cleaning">
        <p class="faq1">What we include in cleaning</p>
        <div class="imgcont">
            <div class="line">
                <figure><img src="~/assets/img/star.png" alt=""></figure>
            </div>
            <br>
        </div>
        <div class="cleaning_container">
            <div class="cleaning_content">
                <div class="img_content img1"></div>
                <div class="text_content">
                    <p>Bedroom And Living Room</p>
                    <ul>
                        <li>Dust all accessible surfaces</li>
                        <li>wipe down all mirrors and glass fixtures</li>
                        <li>clean all floor surfaces</li>
                        <li>take out garbage and recycling</li>
                    </ul>
                </div>
            </div>
            <div class="cleaning_content">
                <div class="img_content img2"></div>
                <div class="text_content">
                    <p>Bathrooms</p>
                    <ul>
                        <li>wash and sanitize the toilet, shower, tub, sink</li>
                        <li>Dust all accessible surfaces</li>
                        <li>Wipe down all mirrors and glass fixtures</li>
                        <li>Clean all floor surfaces</li>
                        <li>Take out garbage and recycling</li>
                    </ul>
                </div>
            </div>
            <div class="cleaning_content">
                <div class="img_content img3"></div>
                <div class="text_content">
                    <p>Kitchen</p>
                    <ul>
                        <li>Dust all accessible surfaces</li>
                        <li>Empty sink and load up dishwasher</li>
                        <li>wipe down exterior of stoe, oven and fridge</li>
                        <li>clean all floor surfaces</li>
                        <li>take out garbage and recycling</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="helperland">
        <p class="faq1">What we include in cleaning</p>
        <div class="imgcont">
            <div class="line">
                <figure><img src="~/assets/img/star.png" alt=""></figure>
            </div>
            <br>
        </div>
        <div class="helperland_container">
            <div class="text_area tr">
                <div class="area">
                    <p>Experienced and vetted professionals</p>
                    <p class="ml">dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                </div>
                <div class="area">
                    <p>Dedicated customer service</p>
                    <p class="ml">to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. you need.</p>
                </div>
            </div>
            <div class="img_area">
                <div class="helperland_image">
                    <img src="~/assets/img/the-best-img-1.png">
                </div>
            </div>
            <div class="text_area tl">
                <div class="area">
                    <p>Experienced and vetted professionals</p>
                    <p>dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                </div>
                <div class="area">
                    <p>Dedicated customer service</p>
                    <p>to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. you need.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- -------------------------------------------------------------------------- -->
    <div class="container-fluid">
        <div class="get_new_perent">
            <div class="get_new_child1">
                <img src="~/assets/img/right-arrow-grey.png" alt="">
            </div>
            <div class="get_new_child2">
                <div class="sellr_main_div">
                    <div style="text-align: center;">
                        <p class="letter_text">GET OUR NEWSLETTER</p>
                        <input type="email" placeholder="Your Email" class="for_email">
                        <input type="submit" class="for_submit">
                    </div>
                </div>
            </div>
            <div class="get_new_child3">
                <img src="~/assets/img/layer-598.png" alt="" class="time_img">
            </div>
        </div>
    </div>

    <!-- footer -->


</body>
