@{
    ViewData["Title"] = "Serviceprovider";
    Layout = "";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    

    <title>Service Provider Become-a-proider</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    @Html.Partial("_Login")

    <link href="~/css/serviceprovider.css" rel="stylesheet" />
    <!-- header -->
    <header>

        <div class="container-fluid bgbanner" style="height:auto; width: auto; overflow: hidden; background-size: cover;background-position: center;">
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg  navbar-dark">
                <div class="container-fluid">
                    <img src="~/assets/img/logo-large.png">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsenavbar">
                        <ul class="navbar-nav ml-auto text-center">
                            <li class="nav-item">
                                <a href="" class="nav-link text-white "><span class="btn-1">Book a Cleaner</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link text-white"><span>Prices</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link text-white"><span>Our Guarantee</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#blog" class="nav-link text-white"><span>Blog</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link text-white"><span>Contact us</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link text-white" data-toggle="modal" data-target="#loginModal"><span class="btn-2">Login</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link text-white "><span class="btn-1">Become a Helper</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link text-white"><span> <img src="~/assets/img/ic-flag.png"></span></a><i class="fa fa-chevron-down" style="color: white;"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="frmcont">
                <p class="faq1">Register Now!</p><br>


                <div class="frm">
                    <input type="text" placeholder="First name">
                    <input type="text" placeholder="Last name">
                    <input type="email" placeholder="Email address">
                    <div class="phn"><input list="code" name="code" class="pc1" value="+46"> <input type="tel" class="pc2" placeholder="Phone number"></div>
                    <input type="password" placeholder="Password">
                    <input type="password" placeholder="Confirm Password">
                </div>
                <div class="div2">
                    <input type="checkbox" id="confirmation" name="confirmation" value="confirmation">
                    <label for="confirmation"> Send me newsletters from Helperland</label></br>
                    <input type="checkbox" id="termsandcon" name="termsandcon" value="termsandcon">
                    <label for="termsandcon"> I accept terms and conditions & privacy policy</label>
                    <div class="g-recaptcha" data-sitekey="6Ldbdg0TAAAAAI7KAf72Q6uagbWzWecTeBWmrCpJ"></div>
                    <div class="button">
                        <button type="submit" class="btn1">Get Started <img src="~/assets/img/arrow-white.png" alt=""></button>
                    </div>

                </div>




            </div>
        </div>
    </header>
    <div class="mainbody">
        <div class="col-12" style="text-align: center;">
            <h2 style="color: #565656;font-size: 40px;padding-bottom: 60px;margin-top: 70px;">How it works</h2>
        </div>
        <div class="container" style="overflow: hidden; margin-top: 20px;text-align: left;">
            <div class="row">

                <div class="col-lg-7">
                    <h3 style="color: #565656;font-size: 25px">Register yourself</h3>
                    <p style="color: #565656; font-size: 18px">provide your basic information to register yourself as a service provider.</p>
                    </br>
                    <p style="color: #565656;font-size: 18px">
                        Read more <img src="~/assets/img/shape-2-copy-3.png" class="im1" alt="">
                    </p>

                </div>
                <div class="col-lg-4">
                    <img src="~/assets/img/register-your-self.jpg" class="im2" alt=""></br>
                </div>

                <div class="col-lg-4"><img src="~/assets/img/group-29.png" class="im2" alt=""></div>
                <div class="col-lg-7">
                    <h3 style="color: #565656;font-size: 25px">Get service requests</h3>
                    <p style="color: #565656; font-size: 18px">You will get service requests from customes depend on service area and profile.</p>
                    </br>
                    <p style="color: #565656;font-size: 18px">
                        Read more <img src="~/assets/img/shape-2-copy-3.png" class="im1" alt="">
                    </p>
                    </br>

                </div>
                </br>
                <div class="col-lg-7">
                    <h3 style="color: #565656;font-size: 25px">Complete service</h3>
                    <p style="color: #565656; font-size: 18px">Accept service requests from your customers and complete your work.</p>
                    </br>
                    <p style="color: #565656;font-size: 18px">
                        Read more <img src="~/assets/img/shape-2-copy-3.png" class="im1" alt="">
                    </p>

                </div>
                <div class="col-lg-4">
                    <img src="~/assets/img/group-30.png" class="im2" alt=""></br>
                </div>

            </div>
        </div>
    </div>




    <section class="feeed">
        <div class="row feed">
            <div class="col-2 feed1">
                <img src="~/assets/img/uparrow.png" alt="uparrow">
            </div>
            <div class="col-xl-6 feed2">
                <p>GET OUR NEWSLETTER</p>
                <div class="inner_feed2">
                    <input type="email" name="email" placeholder="email">
                    <button type="submit">submit</button>
                </div>
            </div>
            <div class="col-2 feed3"><img src="~/assets/img/layer-598.png" alt=""></div>
        </div>
    </section>

    <!-- footer -->
    <div class="container-fluid" style="background-color: black;">
        <div class="row">
            <div class="col-2"><img src="~/assets/img/white-logo-transparent-background-copy-4.png" alt="" style="padding-left: 45px;" class="logo"></div>
            <div class="col-8">
                <ul style="display: flex; justify-content: center;padding-top: 24px;" class="fo_nav">
                    <li style="color: white; list-style-type: none; margin: 0px 10px;">Home</li>
                    <li style="color: white;list-style-type: none;margin: 0px 10px;">About</li>
                    <li style="color: white;list-style-type: none;margin: 0px 10px;">TESTIMONIALS</li>
                    <LI style="color: white;list-style-type: none;margin: 0px 10px;">FAQS</LI>
                    <li style="color: white;list-style-type: none;margin: 0px 10px;">INSURANCE POLICY</li>
                    <li style="color: white;list-style-type: none;margin: 0px 10px;">IMPRESSUM</li>
                </ul>
            </div>
            <div class="col-2 ico">
                <i class="fa fa-facebook-square inst" style="font-size:36px;color: white;"></i>
                <i class="fa fa-instagram" style="font-size:36px;color: white; margin-left: 10px;"></i>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #292929;height: auto">
        <div class="row">
            <div class="col-12">
                <p style="color: #f1f1f1; text-align: center;height: auto;" class="rsp">©2018 Helperland. All rights reserved. Terms and Conditions |&nbsp; <a href="#">Privacy Policy</a></p>
            </div>
        </div>
    </div>

</body>
<!-- Bootstrp link -->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</html>
