@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<body>
    @Html.Partial("_Login")
    <link href="~/css/contact.css" rel="stylesheet" />

    <img src="~/assets/img/group-16_2.png" class="responsive_img" alt="" style="width:100%">

    <div class="container">
        <p class="faq1">Contact Us</p>
        <div class="imgcont">
            <div class="line">
                <figure><img src="~/assets/img/star.png" alt=""></figure>
            </div>
        </div>
    </div><br>
    <div class="container" style="text-align: center;">
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div>
                    <img src="~/assets/img/forma-1_2.png" alt="">
                </div>
                <div>
                    <p>1111 Lorem ipsum text 100,<br> Lorem ipsum AB</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div>
                    <img src="~/assets/img/phone-call.png" alt="">
                </div>
                <div>
                    <p>+49 (40) 123 56 7890<br>+49 (40) 987 56 0000</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div>
                    <img src="~/assets/img/vector-smart-object.png" alt="">
                </div>
                <div>
                    <p>info@helperland.com</p>
                </div>
            </div>
        </div><br><br>
        <hr>
    </div><br>
    <div class="container">
        <p class="faq1">Get in touch with us</p><br>
        <div class="frm">
            <form>
                <div>
                    <input type="text" placeholder="First name">
                    <input type="text" placeholder="Last name">
                </div>
                <div>
                    <div class="pc">
                        <input list="code" name="code" value="+49">

                        <input type="tel" placeholder="Mobile number">
                    </div>
                    <input type="email" placeholder="Email address">
                </div>
                <div>
                    <input list="subject" name="Subject" placeholder="subject">
                    <datalist id="subject">
                        <option value="Chemistry"></option>
                        <option value="Chemistry"></option>
                        <option value="Chemistry"></option>
                    </datalist>
                </div>
                <div>
                    <textarea rows="5" cols="100%" placeholder="Message"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn1">submit</button>
                </div>
            </form>
        </div>
    </div>
    <br>



    <section class="loc1">
        <img src="~/assets/img/group-16.png" class="responsive_img" alt="" style="width:100%">
    </section>

    <div class="container-fluid">
        <div class="get_new_perent">
            <div class="get_new_child1">
                <img src="~/assets/img/right-arrow-grey.png" alt="">
            </div>
            <div class="get_new_child2">
                <div class="sellr_main_div">
                    <div style="text-align: center;">
                        <p class="letter_text">GET OUR NEWSLETTER</p>
                        <input type="email" placeholder="Your Email" class="for_email">
                        <input type="submit" class="for_submit">
                    </div>
                </div>
            </div>
            <div class="get_new_child3">
                <img src="~/assets/img/layer-598.png" alt="" class="time_img">
            </div>
        </div>
    </div>

</body>